<div id="userManagement">
    <div style="margin-left:20px;">项目列表：</div>
    <div style="float: left;width:30%;">
    <select class="form-control" style="width:100%;margin-left:20px;" ng-model="selectedProject" ng-change="projectChange()"  ng-options="project.projectName for project in chargeProjects">
        <option></option>
    </select>
    </div>
    <div  class="btn-success btn create-task"  ng-click="createTask()">创建任务</div>
    <div style="width: 100%;margin-top: 50px;">
    <div ui-view="userStage" style="width: 50%;float: left;"></div>
    <div ui-view="taskDetail" style="width: 50%;float: left;"></div>
    </div>
</div>